* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hind Siliguri", sans-serif;
}

a {
    all: unset;
    cursor: pointer;
}

.none {
    display: none;
}

.flicking-camera {
    display: flex;
}

*::-webkit-scrollbar {
    width: 10px; /* 스크롤바의 너비 */
}

*::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: rgba(0, 0, 0, 0.8); /* 스크롤바의 색상 */
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2); /*스크롤바 뒷 배경 색상*/
}
