* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    all: unset;
    cursor: pointer;
}

body {
    background-color: rgba(0, 0, 0, 0.8);
}

.none {
    display: none;
}
